[Unit]
Description=Run Once at Boot

[Service]
ExecStart=systemd-inhibit bash /bin/script.sh
RemainAfterExit=no
Type=oneshot

[Install]
WantedBy=multi-user.target
